/**
 * @name Persian font
 * @author neonxyz
 * @description Enhance the appearance of Persian texts with beautiful Persian fonts.
 * @invite UmtEtYbyT5
 * @version 1.0
 * @source https://github.com/WhoisNeon/Persian-font-theme
*/

@font-face {
  font-family: "Vazir-Font";
  src: url("https://raw.githubusercontent.com/WhoisNeon/Persian-font-theme/refs/heads/main/Vazirmatn-Regular.ttf");
}

* {
  font-family: "Vazir-Font" !important;
}
